$font-primary: 'Nunito Sans',Arial, sans-serif;

$white: #fff;
$black: #000000;
$darken: #232931;

$primary: #ffb400;
$secondary: #6b76ff;



@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin transition($transition) {
    -moz-transition:    all $transition ease;
    -o-transition:      all $transition ease;
    -webkit-transition: all $transition ease;
    -ms-transition:     all $transition ease;
    transition:         all $transition ease;
}




 .navbar-brand>img {
   height: 20%;
   padding: 15px;
   width: auto;
 }



.hero-wrap {
  width: 100%;
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
  height:550px;
  display: flex;
}


.mb-4 {
  color: darkorange;
}









html {
  overflow-x: hidden;
}
body {
  font-family: 'Lato', sans-serif;
  background: $white;
  font-size: 16px;
  line-height: 1.8;
  font-weight: 600;
  color: lighten($black,60%);
  &.menu-show {
    overflow: hidden;
    position: fixed;
    height: 100%;
    width: 100%;
  }
}
a {
  transition: .3s all ease;
  color: $primary;
  &:hover, &:focus {
    text-decoration: none;
    color: $primary;
    outline: none !important;
  }
}
h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
  line-height: 1.5;
  color: rgba(0,0,0,.8);
  font-weight: 900;
}

.text-primary {
  color: $primary!important;
}


.ftco-navbar-light {
  background: transparent !important;
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  z-index: 3;
  padding: 0;
  @include media-breakpoint-down(md) {
    background: $black!important;
    position: relative;
    top: 0;
    padding: 10px 15px;
  }
  &.ftco-navbar-light-2{
    position: relative;
    top: 0;
    .navbar-nav {
      > .nav-item {
        > .nav-link {
          font-size: 14px;
          padding-top: 1.8rem;
          padding-bottom: 1.8rem;
          padding-left: 20px;
          padding-right: 20px;
          font-weight: 400;
          color: $black;
          &:hover {
            color: $primary;
          }
          opacity: 1!important;
          @include media-breakpoint-down(md){
            padding-left: 0;
            padding-right: 0;
            padding-top: .9rem;
            padding-bottom: .9rem;
            color: rgba(255,255,255,.7);
            &:hover{
              color: $white;
            }
          }
        }
        &.active {
          > a {
            color: red;
            @include media-breakpoint-down(md) {
              color: white;
            }
            }
          }
        }
      }
    }
  }
  .navbar-brand {
    color: $white;
    z-index: 0;
    span{
      color: $primary;
    }
    &:hover, &:focus{
      color: $white;
    }
    @include media-breakpoint-down(md){
      color: $white;
    }
  }

  .navbar-nav {
    @include media-breakpoint-down(md){
      padding-bottom: 10px;
    }
    > .nav-item {
      > .nav-link {
        font-size: 18px;
        padding-top: 1.8rem;
        padding-bottom: 1.8rem;
        padding-left: 20px;
        padding-right: 20px;
        font-weight: 700;
        color: $white;
        &:hover {
          color: $primary;
        }
        opacity: 1!important;
        @include media-breakpoint-down(md){
          padding-left: 0;
          padding-right: 0;
          padding-top: .9rem;
          padding-bottom: .9rem;
          color: rgba(255,255,255,.7);
          &:hover{
            color: $white;
          }
        }
      }

      .dropdown-menu{
        border: none;
        background: $white;
        -webkit-box-shadow: 0px 10px 34px -20px rgba(0,0,0,0.41);
        -moz-box-shadow: 0px 10px 34px -20px rgba(0,0,0,0.41);
        box-shadow: 0px 10px 34px -20px rgba(0,0,0,0.41);
        .dropdown-item{
          font-size: 14px;
          &:hover, &:focus{
            background: transparent;
            color: $black;
          }
        }
      }


      &.ftco-seperator {
        position: relative;
        margin-left: 20px;
        padding-left: 20px;
        @include media-breakpoint-down(md) {
          padding-left: 0;
          margin-left: 0;
        }
        &:before {
          position: absolute;
          content: "";
          top: 10px;
          bottom: 10px;
          left: 0;
          width: 2px;
          background: rgba($white, .05);
          @include media-breakpoint-down(md) {
            display: none;
          }
        }
      }
      &.cta {
        > a {
          color: $black;
          @include media-breakpoint-down(sm){
            padding-left: 15px;
            padding-right: 15px;
          }
          @include media-breakpoint-down(md){
            color: $white;
            background: $primary;
          }
        }
      }
      &.active {
        > a {
          color: $primary;
          @include media-breakpoint-down(md){
            color: $white;
          }
        }
      }
    }
  }

  .navbar-toggler {
    border: none;
    color: rgba(255,255,255,.5)!important;
    cursor: pointer;
    padding-right: 0;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: .1em;
    &:focus{
      outline: none !important;
    }
    &.scrolled  {
      position: fixed;
      right: 0;
      left: 0;
      top: 0;
      margin-top: -130px;
      background: $white!important;
      box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
    }
  }


    .nav-item {
      &.active {
          > a {
            color: $primary!important;
          }
        }
        &.cta {
          > a {
            color: $white !important;
            background: $primary;
            border: none !important;

            span {
              display: inline-block;
              color: $white !important;
            }
          }
          &.cta-colored {
            span {
              border-color: $primary;
            }
          }
        }
      }
    .navbar-nav {
      @include media-breakpoint-down(md) {
        background: none;
        border-radius: 0px;
        padding-left: 0rem!important;
        padding-right: 0rem!important;
      }
    }

    .navbar-nav {
      @include media-breakpoint-down(sm) {
        background: none;
        padding-left: 0!important;
        padding-right: 0!important;
      }
    }

    .navbar-toggler {
      border: none;
      color: rgba(0,0,0,.5)!important;
      border-color: rgba(0,0,0,.5)!important;
      cursor: pointer;
      padding-right: 0;
      text-transform: uppercase;
      font-size: 16px;
      letter-spacing: .1em;

    }
    .nav-link {
      padding-top: .9rem!important;
      padding-bottom: .9rem!important;
      color: $black!important;
      &.active {
        color: $primary!important;
      }
      &.awake {
      margin-top: 0px;
      transition: .3s all ease-out;
    }
      &.sleep {
      transition: .3s all ease-out;
     }
    }

    .navbar-brand {
      color: $black;
    }

.navbar-brand {
  font-weight: 900;
  font-size: 24px;
}


.hero-wrap{
  width: 100%;
  height: 800px;
  position: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  @include media-breakpoint-down(lg){
    background-position: top center !important;
  }
  .overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    opacity: .1;
    background: $white;
    height: 800px;
    @include media-breakpoint-down(lg){
      opacity: 0;
    }
  }
  &.hero-wrap-2{
    height: 800px;
    .overlay{
      background: $black;
      width: 100%;
      opacity: .3;
      height: 800px;
    }
    .slider-text{
      height: 800px;
    }
  }
}

.slider-text{
  position: relative;
  height: 800px;
  h1 {
    font-size: 54px;
    color: $white;
    line-height: 1.2;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 5px;
    @include media-breakpoint-down(md) {
      font-size: 40px;
    }
  }
  p {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 300;
    color: rgba(255,255,255,.8);
    strong{
      font-weight: 700;
      a{
        color: $black;
      }
    }
  }
}


// VOLUNTEER
.ftco-volunteer{
  .text{
    h2{
      font-weight: 900;
      font-size: 50px;
      line-height: 1.1;
      color: $black;
    }
  }
  .img-volunteer{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    @include media-breakpoint-up(lg){
      margin-top: -70px;
    }
  }
  .about-text{
    h2{
      font-weight: 900;
      font-size: 50px;
      line-height: 1.1;
      color: $white;
      strong,span{
        font-weight: 900;
        color: rgba(255,255,255,.2);
      }
    }
  }
}

//MISSION
.ftco-mission{
  h3{
    font-weight: 900;
  }
}

.container{
  max-width: 1180px;
}

.bg-light {
  background: #f8f9fa!important;
}

.bg-primary{
  background: $primary;
}

.bg-black{
  background: #1e1e1e;
}


//BUTTON
.btn {
  cursor: pointer;
  @include border-radius(3px);
  -webkit-box-shadow: 0px 24px 36px -11px rgba(0,0,0,0.09);
  -moz-box-shadow: 0px 24px 36px -11px rgba(0,0,0,0.09);
  box-shadow: 0px 24px 36px -11px rgba(0,0,0,0.09);
  &:hover, &:active, &:focus {
    outline: none;
  }
  &.btn-primary {
    background: $primary !important;
    border: 1px solid $primary !important;
    color: $white !important;
    &:hover {
      border: 1px solid $primary;
      background: transparent;
      color :$primary;
    }
    &.btn-outline-primary {
      border: 1px solid $primary;
      background: transparent;
      color :$primary;
      &:hover {
        border: 1px solid transparent;
        background: $primary;
        color :$white;
      }
    }
  }
  &.btn-black {
    background: $black !important;
    border: 1px solid $black !important;
    color: $white !important;
    &:hover {
      border: 1px solid $black !important;
      background: $black !important;
      color :$white;
    }
    &.btn-outline-black {
      border: 1px solid $black;
      background: transparent;
      color :$black;
      &:hover {
        border: 1px solid transparent;
        background: $black !important;
        color :$white;
      }
    }
  }
}


// Footer
.ftco-footer {
  justify-content: space-between;
  font-size: 16px;
  background: #85A6BA;
  padding: 7em 0;
  z-index: 0;
  .ftco-footer-logo {
    text-transform: uppercase;
    letter-spacing: .1em;
  }
  .ftco-footer-widget {
    h2 {
      font-weight: normal;
      color: $white;
      margin-bottom: 40px;
      font-size: 24px;
      font-weight: 900;
    }
    ul{
      li{
        a{
          color: rgba(255,255,255,.4);
          span{
            color: $white;
          }
        }
      }
    }
    .btn-primary{
      background: $white !important;
      border: 2px solid $white !important;
      &:hover{
        background: $white;
        border: 2px solid $white !important;
      }
    }
  }
  p {
    color: rgba($white, .7);
  }
  a {
    color: rgba($white, .7);
    &:hover {
      color: $white;
    }
  }
  .ftco-heading-2 {
    font-size: 17px;
    font-weight: 400;
    color: $black;
  }
}


.ftco-footer-social {
  li {
    list-style: none;
    margin: 0 10px 0 0;
    display: inline-block;
    a {
      height: 50px;
      width: 50px;
      display: block;
      float: left;
      background: rgba($white, .05);
      border-radius: 50%;
      position: relative;
      span {
        position: absolute;
        font-size: 26px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        }
      &:hover {
        color: $blue;
      }
    }
  }
}


.footer-small-nav {
  > li {
    display: inline-block;
    a {
      margin: 0 10px 10px 0;
      &:hover, &:focus {
        color: $primary;
      }
    }
  }
}
.media {
  .ftco-icon {
    width: 100px;
    span {
      color: $primary;
    }
  }
}
.ftco-media {
  background: $white;
  border-radius: 0px;
  .heading {
    font-weight: normal;
  }
  &.ftco-media-shadow {
    padding: 40px;
    background: $white;
    box-shadow: 0 10px 50px -15px rgba(0,0,0,.3);
    transition: .2s all ease;
    position: relative;
    top: 0;
    &:hover, &:focus {
      top: -3px;
      box-shadow: 0 10px 70px -15px rgba(0,0,0,.3);
    }
  }
  .icon {
    font-size: 50px;
    display: block;
    color: $primary;
  }
  &.text-center {
    .ftco-icon {
      margin: 0 auto;
    }
  }
}
.ftco-overflow-hidden {
  overflow: hidden;
}

.padding-top-bottom {
  padding-top: 120px;
  padding-bottom: 120px;
}


.form-model {
  background: white;
   padding: 20x 20px;
   margin: 50px;
   border-radius: 3px;
   box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}


.btn {
    width: 100%;
    margin-bottom: 20px
  }
